html {
    line-height: 1.15;
    /*スマホの時勝手に文字のサイズが変わる可能性があるからそれを防ぐ*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    
}

body {
    margin: 0;
    background-color: #ecebe4;
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 425px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

img {
    width: 100%;
}

h1 {   
    font-family: "Noto Sans JP";
    font-size: 40px;
    color: #5E5642;
    padding: 50px 0 50px 0;
}

#comment {
    color: #4b4433;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 16px;
}

#start-button {
    color: #F36F3A;
    background-color: #fff;
    font-family: inherit;
    font-size: 14px;
    transition: all 300ms ease;
    border: 1px solid #F36F3A;
    height: 80px;
    width: 150px;
    margin: 0 auto;
}


#start-button:hover {
    color: #fff;
    background-color: #F36F3A;
}

#flowchart-area {
    background-color: #fff;
    height: 280px;
    padding-top: 20px;
    
}

#question-area {
    margin: 0 auto;
    display: none;
    margin: 0 auto;
    width: 90%;
    height: 235px;
    border: 1px solid silver;
    border-radius: 8px;
    box-shadow: 0 0 5px #cacaca;
}

#pkg-question {
    margin-top: 25px;
    font-size: 20px;
}

.answer-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#yes-button {
    margin-top: 25px;
    width: 90%;
    color: #fff;
    border: none;
    background-color: #F36F3A;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
}

#yes-button:hover {
    background-color: #d26031;
}

#no-button {
    margin-top: 12px;
    width: 90%;
    color: #fff;
    border: none;
    background-color: #215968;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
}

#no-button:hover {
   background-color: #1c4a57;
}

#result-text {
    font-size: 20px;
    margin-top: 25px;
}

#result-pkg {
    font-weight: bold;
    font-size: 30px;
    color: #5E5642;
    padding: 0 8px 0 8px;
}

.result-box {
    margin: 0 auto;
    padding-top: 20px;
    width: 90%;
    height: 290px;
    border: 1px solid silver;
    border-radius: 8px;
    box-shadow: 0 0 5px #cacaca;
}

#result-area {
    display: none;
    background-color: #fff;
    height: 350px;
}

#info-button {
    color: #F36F3A;
    background-color: #fff;
    font-family: inherit;
    font-size: 15px;
    transition: all 300ms ease;
    border: 1px solid #F36F3A;
    width: 90%;
    height: 45px;
}

#info-button:hover {
    color: #fff;
    background-color: #F36F3A; 
}

.go-back-buttons {
    font-size: 15px;
    color: #215968; 
    text-align: center;
    padding-top: 18px;
    border: none;
    background-color: #fff;
    margin: 0 auto;
}

.go-back-buttons:hover {
    color: #13343d;
}

.result-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

@media screen and (min-width: 768px) {  
    img {
        height: 400px;
        object-fit: cover;
    }

    #comment {
        margin-bottom: 30px;
    }

    #info-button {
        width: 80%;
    }
    
}

@media screen and (min-width: 1024px) {
    img {
        height: 490px;
    }

    #comment {
        margin-bottom: 40px;
    }

    .answer-buttons {
        display: flex;
        flex-direction: row; 
        align-items: center;
        gap: 20px;
        justify-content: center;
        margin-bottom: 20px;
    }

    #yes-button {
        margin-top: 45px;
        width: 30%;
    }

    #no-button {
        margin-top: 45px;
        width: 30%; 
    }

    #info-button {
        width: 55%;
    }
    
   
}
  